.header {
    background-image: linear-gradient(253deg, #FFEE32 13.48%, #D6D6D6 125.48%);
    position: fixed;
    width: 100%;
    z-index: 50;
    display: flex;

    // @media screen and (min-width: 768px) {
    //     height: 136px;
    // }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 32px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 36px 32px;
        max-width: 1087px;
        align-self: center;
    }
}

.header__logo {
    display: block;
    // padding-top: 27px;
    // padding-left: 17px;
    width: 56px;
    height: 56px;
}

.header__menu {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
        padding-right: 40px;

        ul {
            display: flex;
            // justify-content: center;
            // align-items: center;
            flex-direction: row;
            gap: 20px;
        }
    }
}

.header__right-side {
    img {
        fill: white;
        padding: 20px;
        border-radius: 20px;
        border: 2px solid #FFF;
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

// .header__menu-button {
//     color: white;
//     border-radius: 20px;
//     border: 2px solid #FFF;
// }