.project-examples {
    background-color: #3C3C3C;
    width: 100%;
    padding-top: 55px;
    padding-bottom: 55px;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // align-items: center;
    // gap: 55px;
}

.wrapper-examples {
    max-width: 1087px;
    padding: 0px 16px;

    @media screen and (min-width: 768px) {
        padding: 0px 32px;
        max-width: 1119px;
    }

    @media screen and (min-width: 1200px) {
        margin: 0 auto;
        max-width: 1119px;
    }
}

.project-examples__flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}

.card-container {
    // padding: 16px;
    width: 343px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 40px;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 40px;
        width: 325px;
    }

    a {
        text-decoration: none;
    }
    // @media screen and (min-width: 768px) {
    //     width: 703px;
    // }
}

.card-container--main {
    // padding: 16px;
    width: 343px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 55px;

    @media screen and (min-width: 768px) {
        width: 703px;
        // padding-left: 32px;
        // padding-right: 32px;
    }

    @media screen and (min-width: 1200px) {
        width: 1055px;
        // padding-left: 32px;
        // padding-right: 32px;

    }

    a {
        text-decoration: none;
    }
}



.card-container__card-information {
    position: relative;
    padding: 20px;
    border-radius: 24px;
    background: #FFFEF2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
}

.card-container__card-information--blue-purple {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

.card-container__card-information--circle-image {
    display: none;

    @media screen and (min-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

.card-container__image {
    border-radius: 13px;
    height: 278px;
    width: 311px;

    @media screen and (min-width: 768px) {
        height: 301px;
        width: 288px;
    }

    @media screen and (min-width: 1200px) {
        height: 301px;
        width: 285px;
        object-fit: cover;
    }
}

.card-container__card-title {
    color: #565656;
    font-size: 32px;
    font-weight: 600;
}

.card-container__card-description {
    color: $primary-background-colour;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 700;
}

.card-container__arrow-circle {
    width: 56px;
    height: 56px;
    position: absolute;
    top: 20px;
    right: 20px;

}

.card-container__arrow {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 35px;
    right: 37px;
}

.card-container__card-information--main {
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 20px;

    @media screen and (min-width: 768px) {
        .card-container__card-title {
            font-size: 40px;
        }

        .card-container__card-description {
            font-size: 16px;
        }

        .card-container__image {
            border-radius: 13px;
            height: 498px;
            width: 663px;
        }
    }

    @media screen and (min-width: 1200px) {
        .card-container__image {
            border-radius: 13px;
            height: 498px;
            width: 100%;
        }
    }
}