.title-block {
    background-image: linear-gradient(253deg, #FFEE32 13.48%, #D6D6D6 125.48%);
    height: 800px;
}

.wrapper-title {
    max-width: 1087px;
    padding: 0px 16px;

    @media screen and (min-width: 768px) {
        padding: 0px 32px;
        max-width: 1119px;
    }

    @media screen and (min-width: 1200px) {
        margin: 0 auto;
        max-width: 1119px;
    }
}

.title-block__main-title {
    color: #FFF;
    // font-family: DynaPuff;
    font-size: 48px;
    font-weight: 700;
    padding: 329px 25px 149px 24px;

    @media screen and (min-width: 768px) {
        font-size: 80px;
        padding: 179px 213px 149px 34px;
    }

    @media screen and (min-width: 1200px) { 
        padding: 394px 403px 119px 16px;
        width: 846px;
        height: 190px;
    }
}