* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
}

// .wrapper-container {
//     margin: 0 auto;
// }
    // padding-left: 16px;
    // padding-right: 16px;
    // max-width: 767px;

//     @media screen and (min-width: 768px) {
//         padding-left: 32px;
//         padding-right: 32px;
//     }

//     @media screen and (min-width: 1200px) {
//         padding-left: 75px;
//         padding-right: 75px;
//         max-width: 1050px;
//     }
// }